*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(img/imagem.svg);
    background-size: cover;
    background-color: #b0e0e6;
    display: flex;
    align-items: center;
    justify-content: center;

}
#bloco{
    border-radius: 25px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 30vh;

}

#container input{
    border-radius: 5px;
    width: 10vw;
    height: 3vh;
    margin: 15px;
    padding: 5px;

}

#bloco .buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    width: 20vw;
    height: 10vh;
}

.buttons button{
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(35, 207, 43);
    font-size: 18px;
    max-width: 150px;
    width: 30vw;
    height: 30px;

    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}

#resultado{

    font-size: 12px;
    padding: 0 10px 10px 10px;    
}